
<app-menu-title></app-menu-title>
<!--Corpo a Direita do Blog-->
<div class="container_articles">

<div class="articles_main">
  <app-big-card
  Id="1"
  photoCover="https://www.pivwebsistemas.com.br/system/assets/uploads/products/16810004551615219736TelaIInicialErp.png"
  cardTitle="Copyright © 2023 - Piv-Web - A Sua Loja de Produtos Digitais ®"
  cardDescriptions=" Este ERP foi Desenvolvido para Pequenas empresas com arquitetura x86  e faz a Gestao de Controle de Estoques , Controla Entrada de Produtos , Gestao Financeira entre outras Atividades que podem Facilitar a Gestão e o Controle de Pequenas Empresas."
  ></app-big-card>

  <app-big-card photoCover="https://www.pivwebsistemas.com.br/system/assets/uploads/products/170082852824.11.202309.06.42REC.png"
  Id="1"
  cardTitle="Copyright © 2023 - Piv-Web - A Sua Loja de Produtos Digitais ®"
  cardDescriptions="Lançamento : O que é a Serviços-On by Piv-Web, Serviços-On by Piv-Web é a maior plataforma de contratação de serviços do Brasil. Conectamos Profissionais de todo o Brasil com pessoas solicitando serviços, E nós por sua vez atendendo com qualidade, facilidade e rapidez todos os tipos de necessidades."
  >
</app-big-card>

</div>

<!--Corpo a esquesda do Blog-->
<div class="articles_others">

  <app-small-card photoCover="https://www.pivwebsistemas.com.br/system/assets/uploads/products/16550659831531404420netflix.jpg"
  Id="2"
  cardTitle="Script Para Filmes Online Administrável - Clone Netflix"
  ></app-small-card>
  <app-small-card  photoCover="https://www.pivwebsistemas.com.br/system/assets/uploads/products/169998558214.11.202313.07.28REC.png"
  Id="3"
  cardTitle="Piv-Med - Sistema de Gestão para atendimento em Consultórios médicos Otimizando e agilizando todo o processo de Atendimento."
  ></app-small-card>
  <app-small-card photoCover="https://www.pivwebsistemas.com.br/system/assets/uploads/products/1699837019TelaPrincipal.png"
  Id="4"
  cardTitle="Sistema de Gestão Piv-Web SGCPIV6 Totalmente Gratuito para Voce Testar , venha conhecer nosso Sistema Totalmente Web onde Voce pode acessar de qualquer Lugar e cuidar de seu negocio com tranquilidade, acesse já o Sistema ele já esta no ar e você ja pode usar. Se não é Cadastrado Registre-se para o Login do Piv-Web Sistemas que ja vai Funcionar."
  ></app-small-card>
</div>
</div>
